body {
  background-color: #EAF6F6;
}

hr {
  border-style:none;
  border-top-style:dotted;
  border-width: 5px;
  width:10%;
  border-color: grey;
}

h1 {
  color:#66BFBF;
}

h3 {
  color:#b9936c;
}
